%h1 The following movies containing #{@search_terms} were found on TMDb

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Select
  %tbody
    - @movies_tmdb.each do |movie|
      %tr
        %td= movie[:title] 
        %td= movie[:rating]
        %td= movie[:release_date]
        %td=check_box_tag "tmdb_movies[#{movie[:tmdb_id]}]"
= button_to 'Add Selected Movies'
%br
%br
= link_to 'Back to movie list', movies_path  